.descargas{

    h1{
        font-family:Myriad Pro,roboto,sans-serif;
        color:$color-terciario;
    }

    p{
        color:$color-terciario; 
    }

    img{
        text-align: center;
    }

    span{
        color:red;
        font-size: 30;
    }
    
}



.archivos{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    h2{
        color:$color-secundario;
    }
}

.muestra-archivo{
    border: 1px solid black;
    width: 250px;
    border-radius: 5px;
    overflow:hidden;

    img{
        width: 100%;
}

        h2{
    text-align: center;
        }
}



