* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition-duration: 2s;
  }


  h1{
    color:$color-base;
    text-align: center;
}
